 .form-control, .radio, .audio, .image, .video {
     margin-left: 1.2rem;
 }

 .form-control {
     width: calc(100% - 1.2rem);
     margin-top: 0.5rem;
 }

 .image, .video {
     width: calc(80% - 1.2rem);
 }

 .radio {
     margin-right: 1.2rem;
 }

 .audio, .image, .video {
     margin-bottom: 1rem;
 }

 .image img, .video video {
     border-radius: 3px;
 }

 #paperName {
     margin-top: 10px;
 }

 #scoreboard {
     display: none;
 }

 .fullmarks {
     color: #3c3c3c;
     font-weight: bold;
 }

 .score {
     color: red;
     font-weight: bold;
     border: 1px solid red;
     padding: 1px 3px;
 }

 .has-error .form-control {
     border-color: #f44336;
 }

 .has-error>label,
 .has-error input[type=radio]:checked+span {
     color: #f44336;
 }

 .answer {
     display: none;
     font-size: 13px;
     margin-top: 0.3rem;
     margin-left: 1.2rem;
     font-weight: bold;
 }

 .answer .tag {
     background-color: white;
     padding: 0px 6px;
     color: black;
     border-radius: 3px 0px 0px 3px;
     border: 1px solid black;
 }

 .answer .content {
     background-color: black;
     padding: 0px 8px;
     color: white;
     border-radius: 0px 3px 3px 0px;
     border: 1px solid black;
 }

 .form-group label {
     display: inline;
     word-break: break-all;
 }

 button.btn {
     font-weight: bold;
 }