.form-control, .radio, .audio, .image, .video {
    margin-left: 1.2rem;
}

.form-control {
    margin-top: 0.5rem;
    width: calc(100% - 1.2rem);
}

.image, .video, .audio {
    margin-bottom: 1rem;
    width: calc(100% - 1.2rem);
    max-width: 500px;
}

.radio {
    margin-right: 1.2rem;
}

.image img, .audio audio, .video .dplayer {
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 11px 2px rgb(42 42 42 / 10%);
    width: 100%;
}

#paperName {
    margin-top: 10px;
}

#scoreboard {
    display: none;
}

.fullmarks {
    color: #3c3c3c;
    font-weight: bold;
}

.score {
    color: white;
    font-weight: bold;
    padding: 1px 6px;
    background: red;
    border-radius: 100px;
    box-shadow: 0px 1px 11px 2px rgb(42 42 42 / 10%);
}

.has-error .form-control {
    border-color: #f44336;
}

.has-error>label,
.has-error input[type=radio]:checked+span {
    color: #f44336;
}

.answer {
    display: none;
    font-size: 13px;
    margin-top: 0.3rem;
    margin-left: 1.2rem;
    font-weight: bold;
}

.answer .tag {
    background-color: white;
    padding: 0px 6px;
    color: black;
    border-radius: 3px 0px 0px 3px;
    border: 1px solid black;
}

.answer .content {
    background-color: black;
    padding: 0px 8px;
    color: white;
    border-radius: 0px 3px 3px 0px;
    border: 1px solid black;
}

.form-group label {
    display: inline;
    word-break: break-all;
}

button.btn[type=submit] {
    font-weight: bold;
    font-size: 1.1rem;
}